
<table class="table-date table-condensed">
  <tr>
    <th>Arrival day</th>
    <td></td>
  </tr>
</table>

<table class="table-content table-condensed">
  <tr>
    <th>Product name</th>
    <th>Product material</th>
    <th>Genre</th>
    <th>Color</th>
    <th>Size</th>
    <th>Stock</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% @items.each do |item| %>
  <tr>
    <%= link_to admin_item_path(item.id) do %>
      <td><%= link_to "#{item.prodct_name}", admin_item_path(item.id) %></td>
      <td><%= link_to "#{item.material}", admin_item_path(item.id) %></td>
    <% end %>

      <% item.item_color_sizes.each do | color | %>
        <td><%= color.color %></td>
      <% end %>
      <% item.item_color_sizes.each do | size | %>
        <td><%= size.size %></td>
      <% end %>
      <td><%= (Arrival.where(item_id: item.id).sum(:arrival_count)) - (OrderItem.where(item_id: item.id).sum(:amount)) %></td>
      <td><%= item.status_i18n %></td>
      <td>
        <%= link_to "edit", edit_admin_item_path(item.id), class: "btn btn-success" %>
        <%= link_to "add", new_admin_item_stock_path(item.id), class: "btn btn-primary" %>
      </td>
  </tr>
<% end %>
</table>
