<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'layouts/header' %>
    </div>

    <div class="col-xs-9">
      <div class="space_box"></div>
      <div class="line_box_long"></div>
      <div class="title">会員情報変更</div>
      <div class="line_box_long"></div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">

        <%# --devise mergeしてから記述-- %>
        <h5 class="space">お客様情報</h5>
        <div class="line_box_pink"></div>

        <%= form_for @user do |f| %>
          <%#= render "error_messages" %>

          <div class="field">
            <p>氏名<span class="required">必須</span></p>
              <%= f.label :　姓　 %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :size => "30*30" %>
              <%= f.label :　名　 %>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :size => "30*30" %>
          </div>

          <div class="field">
            <p>カナ<span class="required">必須</span></p>
              <%= f.label :　セイ %>
              <%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name", :size => "30*30" %>
              <%= f.label :　メイ %>
              <%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name", :size => "30*30" %>
          </div>

          <div class="field">
            <p>メールアドレス<span class="required">必須</span></p>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "70*70" %>
          </div>

          <div class="field">
            <p>連絡先電話番号<span class="required">必須</span></p>
              <%= f.telephone_field :tel_number, autofocus: true, autocomplete: "tel_number", :size => "70*70" %>
          </div>

          <div class="field">
            <p>郵便番号<span class="required">必須</span></p>
              <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", :size => "30*30" %>
              <p>(半角英数) 例1000101  ※郵便番号がわからない場合は
              <%=link_to "こちら", "https://www.post.japanpost.jp/smt-zipcode/" %>
              </p>
          </div>

          <div class="field">
            <p>都道府県<span class="required">必須</span></p>
              <%= f.text_field :prefecture, autofocus: true, autocomplete: "prefecture", :size => "70*70" %>
          </div>

          <div class="field">
            <p>市区町村・番地<span class="required">必須</span></p>
              <%= f.text_field :city_address, autofocus: true, autocomplete: "city_address", :size => "70*70" %>
          </div>

          <div class="field">
            <p>マンション名　等</p>
              <%= f.text_field :building, autofocus: true, autocomplete: "building", :size => "70*70" %>
          </div>


          <div class="field">
            <h5 class="space">その他情報</h5>
            <div class="line_box_pink"></div>
          </div>

          <div class="field">
            <p>性別</p>
            <div class="field_box cp_sl01">
              <%= f.select :sex, [["女"], ["男"]], :prompt => "選択してください"%>
            </div>
          </div>

          <div class="field">
            <p>生年月日</p>
            <div class="field_box cp_sl01">
              <%= f.date_select :birth_day, autofocus: true, autocomplete: "birth_day", :size => "50*50" %>
            </div>
          </div>
          <%= f.submit "変更する", class:'btn btn-default col-xs-10 col-xs-offset-1' %>
        <% end %>
        <div class="user-edit">
        </div>
      </div>
    </div>
  </div>
</div>
