<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'layouts/header' %>
    </div>

    <div class="col-xs-9">

    <%# --ユーザーの名前-- %>
    <div class="user-name">
      <%= @order.user.last_name %><%= @order.user.first_name %>
    </div>


    <div class="sell-content">
      <div class="space">購入履歴・配送状況詳細</div>
      <div class="line-box-pink"></div>
    </div>

    <%# --購入履歴・配送状況をここに記述-- %>
    <table class="table-content table-condensed">
      <tr>
        <th>注文番号</th>
        <td><%= @order.order_number %></td>
      </tr>
      <tr>
        <th>注文日時</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送状況</th>
        <td><%= @order.status_i18n %></td>
      </tr>
    </table>
    <table class="table-date table-condensed">
      <tr>
        <th>▼配送内容</th>
      </tr>
    </table>
    <table class="table-content table-condensed">
      <tr>
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>

      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_items.order.with_deleted_item.prodct_name %></td>
          <%# tax_included（税込商品）=注文商品×消費税10%を表している %>
          <% tax_included = order_item.total_price * 1.10 %>
          <td><%= tax_included.round(0) %></td>
          <td><%= order_item.amount %></td>
          <%# subtotal=税込商品×個数を表している %>
          <% subtotal = tax_included * order_item.amount %>
          <td><%= subtotal.round(0) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">送料</td>
        <td>¥<%= @order.postage %></td>
      </tr>
      <tr>
        <td colspan="3">合計</td>
        <td>¥<%= @order.purchase_price.round(0) %></td>
      </tr>
      </table>


      <div class="sell-content">
        <div class="space">注文者情報</div>
        <div class="line-box-pink"></div>
      </div>

      <%# --注文者情報をここに記述-- %>
      <table class="table-content table-condensed">
        <tr>
          <th>氏名（漢字）</th>
          <td><%= @order.user.last_name %><%= @order.user.first_name %></td>
        </tr>
        <tr>
          <th>氏名（カナ）</th>
          <td><%= @order.user.last_kana_name %><%= @order.user.first_kana_name %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @order.address.postal_code %><%= @order.address.prefecture %><%= @order.address.city_address %><%= @order.address.building %></td>
        </tr>
        <tr>
          <th>連絡先電話番号</th>
          <td><%= @order.user.tel_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @order.user.email %></td>
        </tr>
      </table>


      <div class="sell-content">
        <div class="space">配送先</div>
        <div class="line-box-pink"></div>
      </div>

      <%# ここでは、preparingであれば[変更する]ボタンが出るというif文 %>
      <div class="order-edit">
        [変更する]ボタンがない場合はすでに出荷準備に入ってるため配送先住所を変更できません。
        <% if @order.status == "preparing" %>
          <%= link_to"[変更する]", edit_order_path(@order.id) %>
        <% end %>
      </div>

      <%# --配送先情報をここに記述-- %>
      <table class="table-content table-condensed">
        <tr>
          <th>お届け先氏名（漢字）</th>
          <td><%= @order.address.last_name %><%= @order.address.first_name %></td>
        </tr>
        <tr>
          <th>お届け先氏名（カナ）</th>
          <td><%= @order.address.last_kana_name %><%= @order.address.first_kana_name %></td>
        </tr>
        <tr>
          <th>お届け先住所</th>
          <td><%= @order.address.prefecture %><%= @order.address.city_address %><%= @order.address.building %></td>
        </tr>
      </table>


  <div class="sell-content">
    <div class="space">お支払方法</div>
    <div class="line-box-pink"></div>
  </div>

  <%# --支払方法をここに記述-- %>
  <table class="table-content table-condensed">
    <tr>
      <th>お支払方法</th>
      <td><%= @order.payment_i18n %></td>
    </tr>
  </table>

  <div class="user-edit">
    <%= link_to '戻る', orders_path, :class => 'btn btn-default' %>
  </div>


</div>
