<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'layouts/header' %>
    </div>

    <div class="col-xs-9">
      <div class="line_box_long"></div>
      <div class="title">登録住所一覧</div>
      <div class="line_box_long"></div>

      <%# --登録住所をここに記述-- %>
      <% @addresses.each do |address| %>
        <table class="table-content table-bordered">
          <tr>
            <th>配送先氏名</th>
            <th>配送先住所</th>
          </tr>
          <tr>
            <td><%= address.last_name %><%= address.first_name %></td>
            <td><%= address.prefecture %><%= address.city_address %><%= address.building %>&emsp;&emsp;&emsp;
            <%= link_to '変更', edit_user_address_path(address.user.id, address.id) %>&nbsp;｜&nbsp;
            <%= link_to '削除', user_address_path(address.user.id,address.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>

<%# &nbsp; ＝通常の半角スペースと同じサイズの空白 %>
<%# &emsp; =半角スペースよりさらに広めの空白 全角スペースとほぼ同じ幅 %>
