
<div class="col-xs-3">
  <%= render 'layouts/header' %>
</div>

<div class="col-xs-9">
  <div class="main-contents">
    <%= image_tag('top-image.jpg', class: 'top-image') %>
  </div>

  <%= video_tag('top-video.mp4',style: "width:100%;", autoplay: true) %>

    <div class="news">
      <div class="tab-pane" id="weekly_rank">
        <h4 class="top_title">RANKING</h4>
        <div class="line_box"></div>

        <%# with_index=ループの何回目という事を教えてくれている (1)=1番からスタートしている %>
        <%# i=indexの略 %>
        <% @weekly_ranks.each.with_index(1) do |item, i| %>
          <div class="row" id="row3">
            <div class="item_index">
              <%= link_to item_path(item.id) do %>
                <p class="rank_num"><%= "第#{i}位" %></p>
                <%= attachment_image_tag item, :image, format:'jpeg', fallback: "no_image.jpg", size: "100x100", class: "image" %>
              <% end %>
              <div class="col-md-5">
                  <p><%= link_to "#{item.prodct_name}",item_path(item.id), class: "link-text" %></p>
                  <p><%= item.tax_include.round(0) %>円(税込)</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="news">
      <h4 class="top_title">NEWS</h4>
      <div class="line_box"></div>
      <%# お知らせがある時はここを更新 %>
      <ul>
        <li>2019.11.02&emsp;&emsp;&emsp;&emsp;&emsp;3RD ANNIVERSARY 3DAYS 限定品発売</li>
        <li>2019.09.01&emsp;&emsp;&emsp;&emsp;&emsp;AW受注会開催決定 (9月26日.27日.28日) in東京</li>
        <li>2019.03.01&emsp;&emsp;&emsp;&emsp;&emsp;SS受注会開催決定 (3月26日.27日.28日) in東京</li>
      </ul>
    </div>

</div>
