<div class="container">
  <div classs="row">

    <div class="col-xs-3">
      <%= render 'layouts/header_admin' %>
    </div>

    <div class="col-xs-9">
      <div class="space_box"></div>
      <div class="line_box_long"></div>
      <div class="title">USER</div>
      <div class="line_box_long"></div>

      <div class="sell-content">
        <div class="sell-sub-head">
          Name
        </div>
        <div class="boxes"><%= @user.last_name %><%= @user.first_name %></div>
        <div class="line_box_purple"></div>

        <div class="sell-sub-head">
          Kana
        </div>
        <div class="boxes"><%= @user.last_kana_name %><%= @user.first_kana_name %></div>
        <div class="line_box_purple"></div>

        <div class="sell-sub-head">
          Address
        </div>
        <div class="boxes"><%= @user.prefecture %><%= @user.city_address %><%= @user.building %></div>
        <div class="line_box_purple"></div>

        <div class="sell-sub-head">
          Tellphon
        </div>
        <div class="boxes"><%= @user.tel_number %></div>
        <div class="line_box_purple"></div>

        <div class="sell-sub-head">
          Mail
        </div>
        <div class="boxes"><%= @user.email %></div>
        <div class="line_box_purple"></div>
      </div>


      <div class="space_box"></div>
      <div class="line_box_long"></div>
      <div class="title">ADDRESS</div>
      <div class="line_box_long"></div>

      <table class="table-content-block table-bordered" width="100%">
        <% @user.addresses.each do |address| %>
          <tr>
            <th>Delivery name</th>
            <th>Delivery address</th>
          </tr>
          <tr>
            <td width="30%"><%= address.last_name %><%= address.first_name %></td>
            <td width="70%"><%= address.prefecture %><%= address.city_address %><%= address.building %></td>
          </tr>
        <% end %>
      </table>


      <div class="space_box"></div>
      <div class="line_box_long"></div>
      <div class="title">ORDER LIST</div>
      <div class="line_box_long"></div>

      <table class="table-date table-bordered">
        <tr>
          <th>▼<%#= @order.created_at.strftime('%Y/%m/%d') %>
            ご注文<%#= link_to '(詳細へ)', order_path(order.id) %>
          </th>
        </tr>
      </table>
      <table class="table-content-block table-bordered" width="100%">
        <tr>
          <th>Order number</th>
          <th>Order item</th>
          <th>Price</th>
          <th>Delivery stutas</th>
        </tr>

        <% @user.orders.each do |order| %>
        <tr>
          <td width="20%"><%= order.order_number %></td>
          <td width="40%"><%= order.order_items.first.item.prodct_name %></td>
          <% if order.amount_except_one != 0  %>ほか<%= order.amount_except_one %>点...<% end %></td>
          <td width="20%"><%= order.item.purchase_price %></td>
          <td width="20%"><%= order.status_i18n %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
