<div class="container">
  <div classs="row">

    <div class="col-xs-3">
      <%= render 'layouts/header_admin' %>
    </div>

    <div class="col-xs-9">
      <div class="space_box"></div>
      <div class="line_box_long"></div>
      <div class="title">ADD PRODUCT</div>
      <div class="line_box_long"></div>

      <%# image 登録 %>

      <%# product_name,product_material 登録 %>

        <div class="sell-content clearfix">
          <h5>Product name</h5>
            <%= @item.prodct_name %>
          <h5>Product material</h5>
            <%= @item.material %>
        </div>

        <div class="sell-content clearfix">
          <div class="sell-sub-head">
            Product Details
          </div>

          <div class="sell-form-box">
            <div class="sell-form-box">
            <h5>Genre</h5><%# genre 登録 %>
            <div class="field_box cp_sl01">
              <%= f.select :genre_name, [["OUTER",0], ["TOPS",1], ["BOTTOMS",2], ["ONEPICE",3], ["ACCESSORIES",4], ["SHOES",5]], :prompt => "---" %>
            </div>

            <h5>現在の在庫数</h5>
              <p class="stock-count"><%= (Stock.where(item_id: @item.id).sum(:arrival_count)) - (OrderItem.where(item_id: @item.id).sum(:amount))%></p>
              <p class="boxes"><%= form_with(model: @stock, url: admin_item_stocks_path(@item.id), local: true) do |f| %></p>

            <h5 align="center">入荷年月日</h5>
              <p class="boxes"><%= f.date_field :arrival_date, value: Time.now.strftime("%Y-%m-%d") %></p>

            <h5 align="center">入荷数入力</h5>
              <p class="boxes"><%= f.number_field :arrival_count, min: "1", value: "1" %></p>

            <div class="field_1">
              <h5>Size</h5><%# size 登録 %>
              <%= f.select :sizes, [["white"], ["block"], ["beige"], ["pink"], ["brown"], ["gray"]],  :prompt => "選択してください" %>
            </div>
            <div class="field_1">
              <h5>Color</h5><%# color 登録 %>
              <%= f.select :colors, [["S"], ["M"]],  :prompt => "選択してください" %>
            </div>
          </div>

        <div class = "create">
          <%= f.submit 'POST', class: "btn btn-primary col-xs-10 col-xs-offset-1" %>
				</div>

      <% end %>

    </div>

  </div>
</div>
