<div class="container">
  <div classs="row">

    <div class="col-xs-3">
      <%= render 'layouts/header_admin' %>
    </div>

    <div class="col-xs-9">
      <div class="space_box"></div>
      <div class="line_box_long"></div>
      <div class="title">ADD PRODUCT</div>
      <div class="line_box_long"></div>

      <%# image 登録 %>

      <%# product_name,product_material 登録 %>
      <%= form_for(@item) do |f| %>

        <div class="sell-content clearfix">
          <h5>Product name</h5>
          <%= f.text_field :prodct_name, class: "col-xs-12" %>
          <h5>Product material</h5>
          <%= f.text_area :material, class: "col-xs-12"%>
        </div>

        <div class="sell-content clearfix">
          <div class="sell-sub-head">
            Product Details
          </div>

          <div class="sell-form-box">
            <div class="sell-form-box">
            <h5>Genre</h5><%# genre 登録 %>
            <div class="field_box cp_sl01">
              <%= f.select :genre_name, [["OUTER",0], ["TOPS",1], ["BOTTOMS",2], ["ONEPICE",3], ["ACCESSORIES",4], ["SHOES",5]], :prompt => "---" %>
            </div>
            <%# collection_select=渡された配列を並べるセレクト　genre_id,Genre.allはジャンル全件の名前を並べてidがitemに渡るようにしている %>
            <%#=f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => "選択して下さい" %>

            <div class="field_1">
              <h5>Size</h5><%# size 登録 %>
              <%= f.select :sizes, [["white"], ["block"], ["beige"], ["pink"], ["brown"], ["gray"]],  :prompt => "選択してください" %>
            </div>
            <div class="field_1">
              <h5>Color</h5><%# color 登録 %>
              <%= f.select :colors, [["S"], ["M"]],  :prompt => "選択してください" %>
            </div>

        <div class = "create">
          <%= f.submit 'POST', class: "btn btn-primary col-xs-10 col-xs-offset-1" %>
				</div>

      <% end %>

    </div>

  </div>
</div>
