
<div class="sidebar">

    <header>
      <h2 class="shop_name_sideber">Votre histoire</h2>
    </header>

    <nav>
      <%# httpのget method %>
      <%= form_tag root_path, :method => 'get' do %>
        <%# [:search]に入ったwordを探す %>
        <%= text_field_tag :search, params[:search] %>
        <%# 検索 %>
        <%= button_tag :type => "submit", :class =>"btn" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>

      <ul class="header_menu">
        <a class="">
          <li><%= link_to "OUTER", genre_path(0) %></li>
          <li><%= link_to "TOPS", genre_path(1) %></li>
          <li><%= link_to "BOTTOMS", genre_path(2) %></li>
          <li><%= link_to "ONEPICE", genre_path(3) %></li>
          <li><%= link_to "ACCESSORIES", genre_path(4) %></li>
          <li><%= link_to "SHOES", genre_path(5) %></li>
        </a>
      </ul>

      <ul class="header_menu">
        <% if user_signed_in? %>
        <a class="">
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "カート", new_cart_path(current_user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "マイページ", new_user_session_path %></li>
          <li><%= link_to "新規会員登録", new_user_registration_path %></li>
        </a>
        <% end %>
      </ul>

      <div class="social">
        <%# fa-lgは、アイコンの大きさ設定 1.333…倍 %>
        <i class="fab fa-facebook-f fa-lg"></i>
        <i class="fab fa-twitter fa-lg"></i>
        <i class="fab fa-instagram fa-lg"></i>
        <i class="fab fa-line fa-lg"></i>
      </div>
    </nav>

</div>
