<!DOCTYPE html>
<html>
  <head>
    <title>Votre histoire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  </head>

  <body>
    <%# パンくずリスト %>
    <div class="container">
    <p><%= breadcrumbs separator: "&rsaquo;"%></p>
    </div>
    <div class="body-container">
    <%= yield %>
    </div>

    <%# フッター %>
    <footer class="clearfix">
      <div class="footer-container">
        <p class="copyright">@VotreHitoire</p>
        <address>Votre histoire<br>
        東京都渋谷区神南<br>
        03-0000-0000</address>
      </div>
    </footer>
  </body>
</html>
